<!DOCTYPE html>
<meta charset="UTF-8">
<div class="popover popover-bottom" style="position: fixed; top: 1rem; right: 1rem;">
    <button class="btn btn-lg btn-action circle" style="overflow:hidden; height: 7rem; width: 7rem;"><img id="profileGlyph" src="../pic/user.svg"></button>
    <div class="popover-container card" id="profileFrame">
        <form id="profileForm" hidden="true">
            <label class="form-label" for="profileFormName">Username</label>
            <div class="form-group">
                <span class="input-group-addon">
                    <img src="../pic/user.svg">
                </span>
                <input id="profileFormName" tabIndex="1" type="text" class="form-input" placeholder="Username" name="name" required>
            </div>
            <label class="form-label" for="profileFormPassword">Password</label>
            <div class="form-group">
                <span class="input-group-addon">
                    <img src="../pic/key.svg" style="height: 1ex; width: 1ex;">
                </span>
                <input id="profileFormPassword" tabIndex="2" type="password" class="form-input" placeholder="Password" name="password" required>
            </div>
            <button id="profileSignin" type="submit" class="btn btn-primary">Signin</button>
            <script>
            app(function(that, app)
            {
                // handle credential input
                app.eachSubmit(that.parent)
                    .map(function(e)
                    {
                        var name = that.profileFormName.value;
                        var password = that.profileFormPassword.value;

                        return { "credentials": { "name": name, "password": password } };
                    })
                    .subscribe(app.ws);

                // handle token values
                app.broker(app.subject.TOKEN)
                    .subscribe(function(token)
                {
                    that.parent.setAttribute("hidden", (!token));
                });
            });
            </script>
        </form>
        <div id="profileInfo" hidden="true">
            <span id="profileName"></span>
            <button id="profileSignout" class="btn btn-primary">Logout</button>
            <script>
            app(function(that, app)
            {
                // handle click
                app.eachClick(that.profileSignout)
                    .map(function(e)
                    {
                        return { "credentials": {} };
                    })
                    .subscribe(app.ws);

                // handle token values
                app.broker(app.subject.TOKEN)
                    .subscribe(function(token)
                    {
                        that.parent.setAttribute("hidden", (!!token));
                    });

                // handle login name changes
                app.broker(app.subject.CREDENTIALS)
                    .subscribe(function(credentials)
                    {
                        that.profileName.textContent = (credentials && credentials.name) ? credentials.name : "";
                    });
            });
            </script>
        </div>
    </div>
    <script>
        app(function(that, app)
        {
            // initialize TOKEN from localStorage
            app.broker(app.subject.TOKEN, function()
                {
                    var initialToken = "";
                    if (app.storageAvailable("localStorage"))
                    {
                        initialToken = window.localStorage.getItem(app.subject.TOKEN);
                        if (!initialToken)
                        {
                            initialToken = "";
                        }
                    }
                    return Rx.Observable.of(initialToken);
                }, true)
                .pull()
                // update profile fragment UI state
                .do(function(token)
                {
                    // persist token
                    if (app.storageAvailable("localStorage"))
                    {
                        window.localStorage.setItem(app.subject.TOKEN, token);
                    }

                    // update profile glyph
                    that.profileGlyph.src = (token) ? "../pic/admin-user.svg" : "../pic/user.svg";
                })
                // on token changes, if token is empty, redirect to index if not already there
                .filter(function(token) { return (!token); })
                .flatMap(function(token) { return app.broker(app.subject.NEXT_ROUTE); })
                .take(1)
                .filter(function(route) { return route.strippedPath !== "" && route.strippedPath !== "/"; })
                .subscribe(function(route)
                {
                    console.log("[profile-fragment] no token: cancel routing, navigate from " + route.strippedPath + " to /");
                    route.subscription.unsubscribe();
                    app.navigate("/");
                });
        });
        </script>
</div>